langchain_community
langchain_ollama
langchain
streamlit
dotenv
langchain_core
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
langchain_text_splitters
chromadb    # Dbase
faiss-cpu   # one tpye of Dbase
wikipedia
arxiv
langchainhub